.recharts-pie-sector {
  stroke: none !important; /* Remove border */
  stroke-width: 0 !important; /* Ensure no border width */
  transition: none !important; /* Remove any transition effects */
}

g&:focus,
path&:focus {
  outline: none !important;
}
.recharts-wrapper > svg > g {
  outline: none !important;
}
